*{
  margin:0px;
  padding:0px;
  border-radius: 10px;
}

.App {
  text-align: center;
  color: #4ECDC4; 
}

#title{
  font-family: 'Permanent Marker', cursive;
  color: #4ecDc4;
  text-shadow: 2px 10px gray;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  margin: 0 auto;
  z-index: 10;
  background: white;
}

#landingContainer {
  display: block;
  width: 100%; 
  padding: 10% 0% 10% 0%;
  margin: 5% 0% 5% 0%;
  border-bottom: .5px dotted gray;
  font-size: x-large; 
}

.lgText {
  color: rgb(48, 143, 136);
}

svg {
  border:1px solid #4ECDC4;
}

span{
  background: none;
  border: none;
  font-size: 2em;
  opacity: .9;
  color: #FF6B6B;
  z-index: 10;
  position: relative;
}

span:hover{
  font-size: 2.5em;
  color: #FFE66D;
  text-shadow: 1px 1px 10px black;
  opacity: 1;
}

#alphabet{
  display: flex;
  align-content: space-around;
  justify-content: center;
  align-content: bottom;
  border: .5px .5px .5px .5px;
  border-color: gray;
  z-index: 1;
  /* border-top: 1px solid rgba(255, 255, 255, 0.246);
  border-bottom: 1px solid rgba(255, 255, 255, 0.246); */
}

#container{
  padding: 5%;
  display: grid;
  grid-template-columns: 55% 45%;
  grid-template-rows: 60% 40%;
  grid-gap: 1%;
  max-height: 100%;
  border-bottom: .5px dotted gray;
}

button{
  grid-column-start: 1;
  grid-row-start: 2;
  grid-row-start: 3;
  background: none;
  border-color: #4ECDC4;
  padding: 1%;
  color: gray;
  cursor: pointer;
  outline: none;
  font-size: .8em;
  margin: 0;
  box-shadow: 5px 5px gray;
}

/* #letterContainer{
  background: pink;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 90% 10%;
  border: .5px solid #4ECDC4;
  min-height: 50%;
} */

#word{
  padding: 1%;
  grid-column-start: 2;
  grid-row-start: 1;
  grid-row-end: 4;
  font-size: 1em;
  /* box-shadow: 10px 10px gray; */
  color: #FF6B6B;
  border: .5px solid #4ECDC4;
  max-height: 100%;
  overflow: hidden;
  
}