.App {
  text-align: center;
  color: white; 
}

#title{
  font-family: 'Permanent Marker', cursive;
}

button{
  display: block;
  background: rgb(74, 192, 113);
  /* border: none; */
  border-radius: 10px;
  color: white;
  cursor: pointer;
  outline: none;
  font-size: .8em;
  margin: 5% auto 5% auto;
}

#lg-letter{
  font-size: 10em;
  font-weight: normal;
  margin: 0;
}

span{
  background: none;
  border: none;
  font-size: 1.5em;
  opacity: .9;
}

span:hover{
  font-size: 2em;
  text-shadow: 1px 1px 10px black;
  opacity: 1;
}

#alphabet{
  display: flex;
  align-content: space-around;
  justify-content: center;
  height: 2em;
  align-content: bottom;
  /* border-top: 1px solid rgba(255, 255, 255, 0.246);
  border-bottom: 1px solid rgba(255, 255, 255, 0.246); */
}

h1{
  text-shadow: 2px 2px 2px black;
}

#word{
  font-size: 1.5em;
}